# Node / Vite / Tauri specific
npm-debug.log*
npm-debug.log
yarn-debug.log*
yarn-debug.log
yarn-error.log*
yarn-error.log
node_modules/
dist/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.local
# Tauri 
src-tauri/gen/
src-tauri/target/
# Build artifacts
.output/
# IDE specific
.vscode/
.idea/
*.iml
# OS specific
.DS_Store
Thumbs.db
# Logs
*.log
# Editor directories and files
.project
.settings/
.sublime-project
.sublime-workspace
# TypeScript / JavaScript specific
*.tsbuildinfo
